<header class="header" id="js-header">
  <h1 class="logo">LOGO</h1>
  <span class="spacer"></span>
  <div class="hamburger" (click)="hamburgerEvent()">
    <span class="hamburger__line hamburger__line--1"></span>
    <span class="hamburger__line hamburger__line--2"></span>
    <span class="hamburger__line hamburger__line--3"></span>
  </div>
  <nav class="global-nav">
    <h1 class="logo logo--sp-side">LOGO</h1>
    <ul class="global-nav__list">
      <li class="global-nav__item">
        <a href=""><img src="/assets/home-icon.svg" class="global-nav__sp-img">HOME</a>
      </li>
      <li class="global-nav__item">
        <a href=""><img src="/assets/discover-icon.svg" class="global-nav__sp-img">DISCOVERY</a>
      </li>
      <li class="global-nav__item">
        <a href=""><img src="/assets/photos-icon.svg" class="global-nav__sp-img">PHOTOS</a>
      </li>
      <li class="global-nav__item">
        <a href=""><img src="/assets/mail-icon.svg" class="global-nav__sp-img">CONTACT</a>
      </li>
      <li class="global-nav__item global-nav__item--sp">
        <a href=""><img src="/assets/user-icon.png" class="global-nav__sp-img">PROFILE</a>
      </li>
    </ul>
  </nav>
  <h1 class="logo logo--sp-nav">LOGO</h1>
  <a href="" class="user-icon" [style.background-image]="'url('+ '/assets/user-icon.png' +')'"></a>
  <div class="bg-blur" (click)="bgEvent()"></div>
</header>
