<header class="header">
  <div class="drawer-button" (click)="(isOpen = true)">
    <img src="/assets/menu-icon.svg">
  </div>
  <h1 class="logo">LOGO</h1>
  <span class="spacer"></span>
  <nav class="global-nav" [class.global-nav--active]="isOpen">
    <h1 class="logo logo--sp-side">LOGO</h1>
    <ul class="global-nav__list">
      <li class="global-nav__item global-nav__item--home">
        <a href=""><img src="/assets/home-icon.svg" class="global-nav__img">HOME</a>
        <ul class="home-menu">
          <li class="home-menu__item"><a href="">WORLD NEWS</a></li>
          <li class="home-menu__item"><a href="">TRAVEL</a></li>
          <li class="home-menu__item"><a href="">TECHNOLOGY</a></li>
          <li class="home-menu__item"><a href="">CITY</a></li>
          <li class="home-menu__item"><a href="">CULTURE</a></li>
          <li class="home-menu__item"><a href="">MORE...</a></li>
        </ul>
      </li>
      <li class="global-nav__item">
        <a href=""><img src="/assets/discover-icon.svg" class="global-nav__img">DISCOVERY</a>
      </li>
      <li class="global-nav__item">
        <a href=""><img src="/assets/photos-icon.svg" class="global-nav__img">PHOTOS</a>
      </li>
      <li class="global-nav__item">
        <a href=""><img src="/assets/mail-icon.svg" class="global-nav__img">CONTACT</a>
      </li>
      <li class="global-nav__item sp-only">
        <a href=""><img src="/assets/user-icon.png" class="global-nav__img">PROFILE</a>
      </li>
    </ul>
  </nav>
  <a href="" class="user-icon" [style.background-image]="'url('+ '/assets/user-icon.png' +')'"></a>
  <div class="bg-blur" (click)="(isOpen = false)" [class.bg-blur--active]="isOpen"></div>
</header>
