<div class="footer">
  <div class="footer__section">
    <h1 class="footer__logo">LOGO</h1>
    <ul class="footer__menu">
      <a href="" class="footer__list"><li>Home</li></a>
      <a href="" class="footer__list"><li>About</li></a>
      <a href="" class="footer__list"><li>Testimonials</li></a>
      <a href="" class="footer__list"><li>Discovery</li></a>
      <a href="" class="footer__list"><li>Help</li></a>
      <a href="" class="footer__list"><li>Advertise</li></a>
      <a href="" class="footer__list"><li>Photos</li></a>
      <a href="" class="footer__list"><li>Terms</li></a>
      <a href="" class="footer__list"><li>Integrations</li></a>
      <a href="" class="footer__list"><li>Contact</li></a>
      <a href="" class="footer__list"><li>Guidlines</li></a>
      <a href="" class="footer__list"><li>Careers</li></a>
    </ul>
  </div>
</div>
