<div class="footer">
  <div class="footer__section">
    <h1 class="footer__logo">LOGO</h1>
    <ul class="footer__menu">
      <ng-container *ngFor="let list of lists">
        <a href="" class="footer__list"
          ><li>{{ list }}</li></a
        >
      </ng-container>
    </ul>
  </div>

  <div class="form">
    <div class="form__inputs">
      <input class="form__input" type="text" placeholder="Email">
      <div class="btn">
        <img src="http://www.w3.org/2000/svg" alt="">
      </div>
    </div>
    <p class="form__content">Stay in touch with us for the freshest products!</p>
  </div>

  
</div>
