.detail-grid {
  max-width: calc(580px + 580px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 500px;
  @media screen and (max-width: 750px) {
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: center/cover;
    &--form {
      background-color: grey;
    }
    @media screen and (max-width: 750px) {
      max-width: 580px;
    }
  }
}
.placeholder {
  display: block;
  background: #ccc;
}
