@import 'mixins';

.detail-grid {
  max-width: calc(580px + 580px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
  @include sp {
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: center/cover;
    &--hero {
      @include sp {
        padding: 24px;
      }
    }
    &--form {
      background-color: grey;
    }
    @include sp {
      max-width: 580px;
    }
  }
}
.placeholder {
  display: block;
  background: #ccc;
}
