<div class="hero">
  <div class="message">
    <a routerLink="/articles" class="message__head">WORLD NEWS</a>
    <span class="message__divider"></span>

    <p class="message__main">Amazing places in America to visit.</p>

    <p class="message__sub">
      For some reason — this country, this city, this neighborhood, this
      particular street —  is the place you are living a majority of your life
      in.
    </p>

    <a routerLink="/articles/xxx" class="message__btn">LEARN MORE</a>
  </div>
</div>
