p {
  color: #202124;
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: bold;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 360px;
  height: 40px;
  font-size: 13px;
  padding: 10px 15px;
  border-radius: 6px;
  border: 2px solid #ebeded;
  box-sizing: border-box;
  margin-bottom: 40px;
  color: #a6adb4;
  background-repeat: no-repeat;
  background-image: url('/assets/images/dropdown.svg');
  background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
}

.input {
  &__form {
    width: 360px;
    height: 40px;
    font-size: 13px;
    border-radius: 6px;
    border: 2px solid #ebeded;
    box-sizing: border-box;
    margin-bottom: 40px;
  }
}

.submit {
  display: inline-block;
  width: 134px;
  height: 40px;
  border-radius: 6px;
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background: #ff7f7f;
  color: #ffffff;
  border: none;
  box-sizing: border-box;
}
