<div>
  <form method="post" action="example.cgi">
    <p>Selet a data</p>
    <div class="selected">
      <select name="example1">
        <option value="“”" selected>Select...</option
        ><option value="サンプル1">選択肢のサンプル1</option>
        <option value="サンプル2">選択肢のサンプル2</option>
        <option value="サンプル3">選択肢のサンプル3</option>
        <option value="サンプル4">選択肢のサンプル4</option>
        <option value="サンプル5">選択肢のサンプル5</option>
      </select>
    </div>
    <p>Enter the first keywords</p>
    <div class="input__form"></div>
    <div class="input__submit">
      <input type="submit" value="SEARCH" class="submit" />
    </div>
  </form>
</div>
