<div>
  <form method="post" action="example.cgi">
    <label for="select-1">Selet a data</label>
    <div class="select">
      <select id="example1">
        <option value="“”" selected>Select...</option>
        <option label="サンプル1" value="サンプル1">選択肢のサンプル1</option>
        <option label="サンプル2" value="サンプル2">選択肢のサンプル2</option>
        <option label="サンプル3" value="サンプル3">選択肢のサンプル3</option>
        <option label="サンプル4" value="サンプル4">選択肢のサンプル4</option>
        <option label="サンプル5" value="サンプル5">選択肢のサンプル5</option>
      </select>
    </div>
    <p>Enter the first keywords</p>
    <div class="input__form"></div>
    <div class="input__submit">
      <input type="submit" value="SEARCH" class="submit" />
    </div>
  </form>
</div>
