<div class="placeholder">header</div>
<app-bread-list></app-bread-list>

<main>
  <div class="hero-grid">
    <div class="hero-grid__main">
      <div class="container">
        <div class="placeholder">hero</div>
      </div>
    </div>
    <div></div>
    <div class="hero-grid__news">news</div>
  </div>
  <div class="container">
    <h2 class="placeholder">TRENDING</h2>

    <div class="trend-grid">
      <div class="placeholder">card-middle</div>
      <div class="placeholder">card-middle</div>
      <div class="placeholder">card-middle</div>
    </div>

    <h2 class="placeholder">HAPPENING NOW</h2>

    <div class="now-grid">
      <div class="card-grid">
        <div class="placeholder">card-large</div>
        <div class="placeholder">card-large</div>
      </div>
      <div class="divider"></div>
      <div class="card-grid">
        <div class="placeholder">card-small</div>
        <div class="placeholder">card-small</div>
        <div class="placeholder">card-small</div>
      </div>
    </div>
  </div>
</main>

<div class="placeholder">footer</div>
