<div class="news">
  <div class="head">
    <h2 class="head__title">MORE NEWS</h2>
    <div class="spacer"></div>
    <img class="head__icon-back" src="/assets/news/arrow-back.svg" alt="" />
    <img class="head__icon" src="/assets/news/arrow.svg" alt="" />
  </div>

  <div class="content">
    <h3 class="content__title">TRAVEL</h3>
    <h4 class="content__sub-title">Article title</h4>
    <p class="content__text">
      Lorem ipsum dolor sit amet, ipsum labitur lucilius mel id, ad has
      appareat…
    </p>
    <p class="content__time">
      <span class="content__image"
        ><img src="/assets/news/time.svg" alt="" /></span
      >2 min ago
    </p>
  </div>
  <div class="content">
    <h3 class="content__title">TECHNOLOGY</h3>
    <h4 class="content__sub-title">Article title</h4>
    <p class="content__text">
      Lorem ipsum dolor sit amet, ipsum labitur lucilius mel id, ad has
      appareat…
    </p>
    <p class="content__time">
      <span class="content__image"
        ><img src="/assets/news/time.svg" alt="" /></span
      >2 min ago
    </p>
  </div>
</div>
