<div class="container">
  <div class="flex">
    <div class="card">
      <a class="card__link" href="">
        <div class="card__cover card__cover--image-1"></div>
        <div class="card__contents">
          <p class="card__title">Dolore magna aliqua</p>
          <p class="card__text">
            Lorem ipsum dolor sit amet, ipsum labitur lucilius mel id, ad has
            appareat.
          </p>
          <div class="card__date">
            <svg
              id="time"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
            >
              <path
                id="パス_5"
                data-name="パス 5"
                d="M8,0a8,8,0,1,0,8,8A8.024,8.024,0,0,0,8,0ZM8,14a6,6,0,1,1,6-6A6.018,6.018,0,0,1,8,14ZM9,7.6l2.7,2.7-1.4,1.4L7,8.4V3H9Z"
                fill="#cbd0d3"
              />
            </svg>
            <p class="card__time">2m ago</p>
          </div>
        </div>
      </a>
    </div>

    <div class="card">
      <a class="card__link" href="">
        <div class="card__cover card__cover--image-2"></div>
        <div class="card__contents">
          <p class="card__title">Morbi eleifend a libero</p>
          <p class="card__text">
            Lorem ipsum dolor sit amet, ipsum labitur lucilius mel id, ad has
            appareat.
          </p>
          <div class="card__date">
            <svg
              id="time"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
            >
              <path
                id="パス_5"
                data-name="パス 5"
                d="M8,0a8,8,0,1,0,8,8A8.024,8.024,0,0,0,8,0ZM8,14a6,6,0,1,1,6-6A6.018,6.018,0,0,1,8,14ZM9,7.6l2.7,2.7-1.4,1.4L7,8.4V3H9Z"
                fill="#cbd0d3"
              />
            </svg>
            <p class="card__time">1h ago</p>
          </div>
        </div>
      </a>
    </div>

    <div class="card desk-top">
      <a class="card__link" href="">
        <div class="card__cover card__cover--image-3"></div>
        <div class="card__contents">
          <p class="card__title">Morbi eleifend a libero</p>
          <p class="card__text">
            Lorem ipsum dolor sit amet, ipsum labitur lucilius mel id, ad has
            appareat.
          </p>
          <div class="card__date">
            <svg
              id="time"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
            >
              <path
                id="パス_5"
                data-name="パス 5"
                d="M8,0a8,8,0,1,0,8,8A8.024,8.024,0,0,0,8,0ZM8,14a6,6,0,1,1,6-6A6.018,6.018,0,0,1,8,14ZM9,7.6l2.7,2.7-1.4,1.4L7,8.4V3H9Z"
                fill="#cbd0d3"
              />
            </svg>
            <p class="card__time">3h ago</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
