<div class="container">
  <div class="medium-card">
    <a class="medium-card__link" href="">
      <div
        style="background-image: url('assets/images/Image.png');"
        class="medium-card__cover"
      ></div>
      <div class="medium-card__contents">
        <h3 class="medium-card__title">Dolore magna aliqua</h3>
        <p class="medium-card__text">
          Lorem ipsum dolor sit amet, ipsum labitur lucilius mel id, ad has
          appareat.
        </p>
        <div class="medium-card__date">
          <img src="assets/images/time.svg" alt="" />
          <p class="medium-card__time">2m ago</p>
        </div>
      </div>
    </a>
  </div>
</div>
