ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a6adb4;
  li {
    text-decoration: none;
    padding-bottom: 9px;
    margin-right: 24px;
    font-size: 11px;
    position: relative;
  }
}

.active {
  color: #202124;
  font-weight: bold;
  position: relative;
  &::after {
    position: absolute;
    bottom: 0;
    background-color: #fa6980;
    border-radius: 1px;
    content: '';
    display: block;
    height: 2px;
    width: 14px;
  }
}

img {
  color: #202124;
  position: absolute;
  bottom: 8px;
}
