<div class="card-large">
  <a href="" class="card-large__link">
    <img
      class="card-large__image"
      src="assets/card-large/thumbnail-1.png"
      alt=""
    />
    <p class="card-large__category">CITY</p>
    <div class="card-large__content">
      <h2 class="card-large__title">Large article title</h2>
      <p class="card-large__text">
        Lorem ipsum dolor sit amet, in eam odio amet, vix id nullam detracto,
        vidit vituperatoribus duo id. Affert detraxit voluptatum vis eu, inermis
        eloquentiam.
      </p>
      <div class="card-large__date">
        <img
          src="assets/images/time.svg"
          alt=""
          class="card-large__date-icon"
        />
        <p class="card-large__time">2m ago</p>
      </div>
    </div>
  </a>
</div>
