<div class="hero-grid">
  <div
    class="hero-grid__main"
    [style.background-image]="'url(assets/hero.jpg)'"
  >
    <div class="container">
      <app-hero></app-hero>
    </div>
  </div>
  <div
    class="hero-grid__bg"
    [style.background-image]="'url(assets/hero.jpg)'"
  ></div>
  <div class="hero-grid__news"><app-news></app-news></div>
</div>
<div class="container">
  <app-heading>Treading</app-heading>

  <div class="trend-grid">
    <app-trending></app-trending>
    <app-trending></app-trending>
    <app-trending></app-trending>
  </div>

  <app-heading>Happening Now</app-heading>

  <div class="now-grid">
    <div class="card-grid">
      <app-card-large></app-card-large>
      <app-card-large></app-card-large>
    </div>
    <div class="card-grid">
      <app-small-card></app-small-card>
    </div>
  </div>
</div>
