@import 'mixins';

.hero-grid {
  display: grid;
  grid-template-columns: minmax(50%, 1fr) minmax(auto, 600px);
  position: relative;
  &__bg {
    background: center/cover;
    @include sp {
      background-size: 0;
    }
  }
  @include sp {
    grid-template-columns: 1fr;
  }
  &__main {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    background: center/0;
    @include sp {
      position: static;
      transform: none;
      background-size: cover;
    }
  }
  &__news {
    position: relative;
    z-index: 10;
    background: white;
    @include sp {
      padding: 40px 24px;
    }
  }
}

.now-grid {
  display: grid;
  gap: 40px;
  @include notSP {
    grid-template-columns: minmax(auto, 760px) minmax(auto, 360px);
  }
}

.placeholder {
  display: block;
  background: #ccc;
}

.card-grid {
  display: grid;
  gap: 40px;
}

.divider {
  height: 2px;
  background: #ebeded;
  @include sp {
    display: none;
  }
}

.trend-grid {
  display: grid;
  gap: 40px;
  @include notSP {
    grid-template-columns: repeat(3, 1fr);
  }
  @include sp {
    > *:last-child {
      display: none;
    }
  }
}
