body {
  margin: 0;
  background: #f6f8f9;
}

.container {
  max-width: calc(1160px + 48px);
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
  &--sp-fit {
    @media screen and (max-width: 700px) {
      padding: 0;
    }
  }
}
